.encima {
    background-color: #b9e2ff;
    padding: 20px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.titulo {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #ecf5fc;
    background-color: #2895dd;
    border-radius: 0px 20px;
    width: 220px;
    height: 50px;
    margin-left: 20px;
    justify-content: center;
    display: flex;
    padding: 20px;
}
.patinhapng {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}
.imagemetitulo {
    display: flex;
    flex-direction: row;
}
.botoes {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px 2px 2px #000000a4;
    color: #074269;
}
.home {
    background-color: #e6f4fd;
    width: 240px;
    height: 70px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-radius: 20px 20px;
}
.sobre {
    background-color: #e6f4fd;
    width: 240px;
    height: 70px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-radius: 20px 20px;
}
.contato {
    background-color: #e6f4fd;
    width: 240px;
    height: 70px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-radius: 20px 20px;
}
.imagemetitulo :hover {
    font-size: 41px;
}
.botoes :hover {
    background-color:#dbeffd ;
}
@media (max-width:700px) {
    .titulo {
        display: none;
    }
    .patinhapng {
        display: none;
    }
    .botoes {
        flex-direction: column;
        align-items: center;
    }
    .encima {
        justify-content: center;
        height: auto;
    }
}
