body {
 margin: 0;
 padding: 0;
}
.encima {
    background-color: #a2cece;
    padding: 20px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.titulo {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #1b1b2c;
    text-shadow: 2px 2px 2px #2c1e0362;
    background-color: #f5fafa;
    border-radius: 0px 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 220px;
    height: 50px;
    margin-left: 20px;
    justify-content: center;
    display: flex;
    padding: 15px;
}
.patinhapng {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}
.imagemetitulo {
    display: flex;
    flex-direction: row;
}
.botoes {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    text-shadow: 1px 1px 2px#00000062;
    color: #eff7f5;
}
.naveg {
    background-color: #5c8385;
    width: 30%;
    height: 70px;
    text-align: center;
    border-radius: 20px 20px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    color: #f5fafa;
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
}
a {
    color: #eff7f5;
}
.imagemetitulo :hover {
    font-size: 41px;
}
.containerdogs {
    display: flex;
    flex-direction: row;
}
.fundodogs {
    width: 25%;
    height: 400px;
    background-color: #1b1b2c;
    margin: 10px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.botoes :hover {
    background-color:#376860 ;
}
.foto {
    width: 80%;
    border: 2px solid #eff7f5;
}
.nome {
    color: #f5fafa;
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
}
li {
    color: #f5fafa;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    padding: 5px;
}
.adotar {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}
.sobreecontato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sobre2 {
    background-color: #5c8385;
    color: #f5fafa;
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    width: 60%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.sobre3 {
    background-color: #5c8385;
    color: #f5fafa;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    width: 50%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
@media (max-width:700px) {
    .naveg {
        width: 80%;
        margin: 10px;
    }
    .titulo {
        display: none;
    }
    .patinhapng {
        display: none;
    }
    .botoes {
        flex-direction: column;
        align-items: center;
    }
    .encima {
        justify-content: center;
        height: auto;
    }
    .containerdogs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fundodogs {
        width: 80%;
    }
}
